{% extends 'base.html.twig' %}

{% block title %}Benvenido{% endblock %}

{% block body %}
<div class="container-fluid hero" style="background-image: url(' {{ asset("../assets/img/Heroimage.jpg") }}">


    <div class="row justify-content-center">
            <div class="col-12 col-lg-3 heroform py-2 my-2 text-white rounded">
                {{ form_start(form, {'attr': {'class': 'formHome'}}) }}
                    <div class="row mb-3">
                        <div class="col">
                            <label for="email">Email</label>
                                {{ form_widget(form.email) }}
                        </div>
                    
                        </div>
                    <div class=" row mb-3">
                        <div class="col-12 col-md-6">
                            <label for="email">Nome</label>
                             {{ form_row(form.name) }}
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="email">Cognome</label>
                           {{ form_widget(form.Lastname) }}
                        </div>
                    </div>
                    <div class=" row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="email">Data Nascita</label>
                        {{ form_widget(form.dob) }}
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="email">CAP</label>
                            {{ form_widget(form.zip) }}
                        </div>
                    </div>
                   <div class="mb-3">
                        <label for="indirizzo">Indirizzo</label>
                        {{ form_widget(form.address) }}
                    </div>
                
                    <div class="mb-2">
                        {{ form_widget(form.confirmPrivacy) }} {{ form_label(form.confirmPrivacy, "Dichiaro d'esser maggiorenne. Ho letto ed accetto il regolamento e l'informativa privacy.", {
    'label_attr': {'class': 'labelCheck'}
}) }}
                    </div>
                     <div class="mb-2">
                     {{ form_widget(form.ConfirmPartner)}}{{ form_label(form.ConfirmPartner, "Acconsento al trasferimento dei miei dati personali ai partners indicati nell'informativa privacy per finalità di marketing.", {
    'label_attr': {'class': 'labelCheck'}}) }}
    </div>
                     
                    <input type="submit" name="submit" class="inputGreen mt-3" value="Ottieni un affare migliore ">
                {{ form_end(form) }}
            </div>
        <div class="col-12 col-lg-5">
        </div>
        
    </div>
</div>
{# caroussel #}
<section class="container mt-5">
    <div class="row">
        <h2 class="TextBlue">Our partners</h2>
        <div class="caroussel col">
            <div><img class="imgCaroussel" src="{{ asset('assets/img/supplier/britishgas.png') }}" style="width:100%;"></div>
            <div><img class="imgCaroussel" src="{{ asset('assets/img/supplier/edf.png') }}" style="width:100%;"></div>
            <div><img class="imgCaroussel" src="{{ asset('assets/img/supplier/Eon.png') }}" style="width:100%;"></div>
            {# <div><img class="imgCaroussel" src="{{ asset('assets/img/supplier/npower.png') }}" style="width:100%; "></div> #}
            <div><img class="imgCaroussel" src="{{ asset('assets/img/supplier/britishgas.png') }}" style="width:100%; "></div>
            <div><img class="imgCaroussel" src="{{ asset('assets/img/supplier/edf.png') }}" style="width:100%;"></div>
            </div>
        </div>
</section>

<section class="container mt-5">
    <div class="row rowProcessSection">
        <div class="col-sm-12 col-lg-6">
            <div class="row align-items-center justify-content-center rowHome mx-1 mt-3">
                <div class="col-sm-12 col-md-2 text-center">
                    <i class="fa fa-gift icon mt-3" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                            <h4 class="pt-2">Experienced consultant</h4> 
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni officiis ducimus tempora qui debitis at quam tenetur, minus nostrum soluta illo corporis, dolore enim maxime modi sapiente distinctio minima architecto?</p>
                </div>
            </div>
            <div class="row align-items-center justify-content-center rowHome mx-1 mt-3">
                <div class="col-sm-12 col-md-2 text-center">
                    <i class="fa fa-star icon mt-3" aria-hidden="true"></i>
                </div>
            <div class="col-sm-12 col-md-10">
                <h4 class="pt-2">Experienced consultant</h4> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni officiis ducimus tempora qui debitis at quam tenetur, minus nostrum soluta illo corporis, dolore enim maxime modi sapiente distinctio minima architecto?</p>
            </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
                <div class="row align-items-center justify-content-center rowHome mx-1 mt-3">
                    
                    <div class="col-sm-12 col-md-2 text-center">
                    <i class="fa fa-thumbs-up icon mt-3" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <h4 class="pt-2">Experienced consultant</h4> 
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque laborum, fugiat voluptatibus ratione, beatae eveniet vel id vero ipsum at obcaecati unde, repellendus quibusdam iusto ipsa explicabo quia qui autem!</p>
                    </div>
                    </div>
                    
        </div>
    </div>
</section>
<section class="container-fluid mt-5">
    <div class="row justify-content-center  rowHome rowProcessSection">
        <div class=" col-12 col-lg-4 bg-white rounded">
            <h4 class="pt-2">Experienced consultant</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos exercitationem temporibus sed ullam. Illo sit optio adipisci mollitia doloribus aliquid temporibus voluptatem nesciunt ipsa quis. Sed facere vero in!</p>
        </div>
        <div class="col-12 col-lg-4">
        <img src="{{asset("../assets/img/stockOffice.jpg")}}" id="office" alt="people workingin office">
        </div>
    </div>
</section>

{% block javascripts %}
   <script type="text/javascript" src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery-3.6.0.min.js') }}"></script>
            <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>
            
{% endblock %}
{% endblock %}
